---
import Link from '@/components/Link.astro';
import MainLayout from '@/layouts/main.layout.astro';
import { getOrderCollection } from '@/utils/collection';
import { Icon } from 'astro-icon';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';

const handwritings = await getCollection('handwritings');
const orderNotes = getOrderCollection(handwritings);
const pageTitle = "Codercoin's writings";
---

<MainLayout pageTitle={pageTitle}>
  <ul class="space-y-4 w-full text-lg">
    {
      orderNotes.map(({ data, slug }) => (
      <Link href={'/handwritings/' + slug}>
        <li class="flex items-center gap-4 group underline-transition p-4 hover:bg-slate-200 rounded">
          <Icon
            name="tabler:code"
            size="18px"
            class="text-sm group-hover:animate-pulse group-hover:scale-150 group-hover:text-pink-500"
          />
          <span>{data.title}</span>
          <div class="space-x-1">
            {data.tags.map((tag) => (
              <span class="text-xs bg-slate-400 text-black px-2 py-1 rounded hover:bg-pink-500 hover:text-white cursor-pointer">
                #{tag}
              </span>
            ))}
          </div>
          <span class="opacity-50">
            {dayjs(data.pubDateTime).format('YYYY-MM-DD')}
          </span>
        </li>
        </Link>
      ))
    }
  </ul>
</MainLayout>
