---
import Link from '@/components/Link.astro';
import MainLayout from '@/layouts/main.layout.astro';
import { Icon } from 'astro-icon'
interface Frontmatter {
  title: string;
  pubDate: string;
  description?: string;
  tags: string[]
}
const notes = await Astro.glob<Frontmatter>('/src/pages/handwritings/*.md')
---
<MainLayout>
    <ul class="space-y-4 p-4 text-lg">
        {
            notes.map(note => (<li class="flex items-center gap-4 group">
                <Icon name="tabler:flag" size="18px" class="text-sm group-hover:animate-pulse group-hover:scale-150 group-hover:text-purple-500"/>
                <div class="space-x-1">
                {
                    note.frontmatter.tags.map(tag => (<span class="text-xs border border-slate-500 px-2 rounded opacity-50">{tag}</span>))
                }
                </div>
                 <Link href={note.url}>{note.frontmatter.title}</Link>
                <span class="opacity-50">{note.frontmatter.pubDate.slice(0,10)}</span>
                </li>))
        }
    </ul>
</MainLayout>