---
import MainLayout from "@/layouts/main.layout.astro";
const texts: string[] = [
  "The only way to do great work is to love what you do. - Steve Jobs",
  "In three words I can sum up everything I've learned about life: it goes on. - Robert Frost",
  "The future belongs to those who believe in the beauty of their dreams. - Eleanor Roosevelt",
  "Be the change that you wish to see in the world. - Mahatma Gandhi",
  "The only limit to our realization of tomorrow will be our doubts of today. - Franklin D. Roosevelt",
  "Believe you can and you're halfway there. - Theodore Roosevelt",
  "If you cannot be a poet, be the poem. - David Carradine",
];
import { getCollection } from "astro:content";
import { getLatestItem } from "@/utils/collection";
const notes = await getCollection("notes");
const latestNotes = getLatestItem(notes,2);
---

<MainLayout>
  <div class="container mx-auto flex-1 opacity-50">
    <ul
      class="flex flex-col justify-center items-center space-y-4 text-xl p-2 h-full"
    >
      {
        texts.map((text, index) => (
          <p class="border-b hover:border-purple-500 cursor-pointer hover:font-semibold">
            {text}
          </p>
        ))
      }
    </ul>
    <ul>
      {latestNotes.map((note) => <div>{note.data.title}</div>)}
    </ul>
  </div>
</MainLayout>
