---
import MainLayout from '@/layouts/main.layout.astro';
import { getLatestItem } from '@/utils/collection';
import Icon from 'astro-icon';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
const notes = await getCollection('notes');
const latestNotes = getLatestItem(notes, 4);
const handwritings = await getCollection('handwritings');
const latestHandwritings = getLatestItem(handwritings, 4);
---

<MainLayout>
  <div class="container mx-auto flex-1 py-4">
      <ul class="flex flex-col h-full space-y-4">
        {
          [...latestNotes,...latestHandwritings].map(({ data, slug,collection },index) => (
          <a
            href={`${collection}/` + slug}
            title={data.title}
              >
            <li class="space-y-2 hover:bg-slate-200 dark:hover:bg-slate-800 px-4 py-2 group rounded underline-transition cursor-pointer">
              <div class="flex items-center gap-4 flex-wrap">
              <span title={data.title} class="text-pink-500 flex-1 text-xl font-semibold text-ellipsis overflow-hidden whitespace-nowrap">{data.title}</span>
              <div class="flex items-center gap-2 text-sm opacity-50 ml-auto">
                <Icon name="tabler:calendar" size="18"/>
                <span>{dayjs(data.pubDateTime).format('YYYY-MM-DD')}</span>
              </div>
              </div>
              <span class="text-base">{data.description || 'no description'}</span>
            </li>
            </a>
          ))
        }
      </ul>
  </div>
</MainLayout>
