---
import {Icon} from 'astro-icon';
import Link from './Link.astro';
---
<footer class="py-4">
    <div class="flex justify-center gap-4 mb-4">
        <Link href="https://codercoin.top/"><span class="flex items-center gap-1"><Icon name="pixelarticons:coin" size="18"/>Codercoin</span></Link>
        <Link href="https://twitter.com/mozlilove"><span class="flex items-center gap-1"><Icon name="tabler:brand-twitter" size="18"/>Twitter</span></Link>
        <Link href="https://github.com/codercoin98"><span class="flex items-center gap-1"><Icon name="tabler:brand-github" size="18"/>Github</span></Link>
        <Link href="https://space.bilibili.com/164577534"><span class="flex items-center gap-1"><Icon name="ri:bilibili-line" size="18"/>Bilibili</span></Link>
    </div>
    <div class="text-center">Powered by <Link href="https://astro.build">Astro</Link></div>
</footer>