---
import logo from '@/assets/images/avatar.png';
import Icon from 'astro-icon';
import { getCollection } from 'astro:content';
import NavMenu from './NavMenu';
import SearchButton from './SearchButton.tsx';
import type { SearchItem } from './SearchPanel';
import ToggleTheme from './ToggleTheme';
const menu = [
  {
    title: 'Note',
    url: '/notes'
  },
  {
    title: 'Handwriting',
    url: '/handwritings'
  },
  {
    title: 'Tags',
    url: '/tags'
  }
];
const notes = await getCollection('notes');
const handwritings = await getCollection('handwritings');
const searchContentList: SearchItem[] = [...notes, ...handwritings].map(
  ({ data, collection, slug }) => ({
    title: data.title,
    description: data.description,
    collection,
    slug,
    data
  })
);
const pathname = new URL(Astro.request.url).pathname;
---

<header class="w-full">
  <div
    class="container mx-auto max-w-4xl flex items-center justify-between p-4 border-b dark:border-slate-500 h-16"
  >
    <a href="/" aria-label="Go home" class="max-md:hidden">
      <div class="flex items-center gap-2">
        <img
          src={logo.src}
          width="40"
          alt="codercoin_logo"
          height="40"
          class="rounded-full"
        />
        <span class="text-lg font-extrabold hover:text-pink-500"
          >Codercoin's</span
        >
        <span
          class="px-1 bg-pink-500 dark:text-black rounded text-white text-sm hover:-rotate-12"
          >Book</span
        >
      </div>
    </a>
    <div class="flex items-center gap-8 max-md:w-full">
      <SearchButton searchContentList={searchContentList} client:only />
      <NavMenu pathname={pathname} client:only/>
      <a
        href={`${Astro.site}/rss.xml`}
        aria-label="rss"
        class="cursor-pointer hover:scale-110 hover:text-pink-500 max-md:hidden"
      >
        <Icon name="tabler:rss" size="18" />
      </a>
      <ToggleTheme client:only />
    </div>
  </div>
</header>
