---
import logo from '@/assets/images/logo.png';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import NavMenu from './NavMenu';
import SearchButton from './SearchButton.tsx';
import type { SearchItem } from './SearchPanel';
import ToggleTheme from './ToggleTheme';

const blogs = await getCollection('blogs');
const searchContentList: SearchItem[] = blogs.map(
  ({ data, collection, slug }) => ({
    title: data.title,
    description: data.description,
    collection,
    slug,
    data
  })
);
const pathname = new URL(Astro.request.url).pathname;
---

<header class="w-full">
  <div
    class="container mx-auto max-w-4xl flex items-center justify-between py-4 border-b dark:border-slate-500 h-16"
  >
    <a href="/" aria-label="Go home" class="w-10 h-10">
      <Image
        src={logo}
        alt="codercoin_logo"
        quality="max"
        class="rounded-full"
        loading="eager"
      />
    </a>

    <SearchButton searchContentList={searchContentList} client:only="react" />
    <div class="flex items-center gap-8">
      <NavMenu pathname={pathname} client:only="react" />
      <a
        href={`${Astro.site}/rss.xml`}
        aria-label="rss"
        class="cursor-pointer hover:scale-110 hover:text-primary max-md:hidden"
      >
        <Icon name="tabler:rss" size="18" />
      </a>
      <ToggleTheme client:only="react" />
    </div>
  </div>
</header>
