---
import Link from "@/components/Link.astro";
import logo from "@/assets/images/avatar.png";
const menu = [
  {
    title: "Note",
    url: "/note",
  },
  {
    title: "Handwriting",
    url: "/handwriting/",
  },
];
---

<header class="w-full">
  <div
    class="container mx-auto max-w-4xl flex items-center justify-between p-4 border-b"
  >
    <a href="/">
      <div class="flex items-center gap-2">
        <img src={logo.src} width="40" class="rounded-full" /> 
         <span class="text-lg font-extrabold">Codercoin's</span>
         <span class="px-1 bg-black rounded text-white text-sm hover:text-purple-500">Book</span>
      </div>
    </a>
    <nav class="flex gap-8">
      {menu.map((item) => <Link href={item.url}>{item.title}</Link>)}
    </nav>
  </div>
</header>
