---
const { href, title } = Astro.props;
---

<a
  href={href}
  title={title}
  class="relative font-semibold cursor-pointer transition-all duration-300 border-b-2 border-dashed border-transparent hover:border-pink-500 active:text-pink-500 active:border-transparent"
>
  <slot />
</a>
