---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/main.css';
import { ViewTransitions } from 'astro:transitions';
import Social from '@/components/Social.astro';
import BackToTop from '@/components/BackToTop';
interface Props {
  pageTitle?: string;
}
const { pageTitle = "Codercoin'book" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
    <ViewTransitions fallback="animate" />
    <script is:inline>
      const setTheme = () => {
        const theme = (() => {
          if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
          ) {
            return localStorage.getItem('theme');
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
          }
          return 'light';
        })();
        if (theme === 'light') {
          document.documentElement.classList.remove('dark');
        } else {
          document.documentElement.classList.add('dark');
        }
        window.localStorage.setItem('theme', theme);
      };
      // Run on initial navigation
      setTheme();
      // Runs on view transitions navigation
      document.addEventListener('astro:after-swap', setTheme);
    </script>
  </head>
  <body
    class="relative bg-slate-100 dark:text-slate-300 dark:bg-slate-950 font-sans min-h-[100vh] flex flex-col"
  >
    <Header />
    <main
      class="max-w-4xl container mx-auto relative flex flex-1"
      transition:name="fade"
    >
      <slot />
    </main>
    <Footer />
    <BackToTop client:only />
    <Social />
  </body>
</html>
