---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/main.css'
import { ViewTransitions } from 'astro:transitions';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Codercoin's Book</title>
		<ViewTransitions fallback='animate'/>
	</head>
	<body class="bg-slate-100 dark:bg-slate-950 font-sans">
		<main>
			<div class="container mx-auto h-[100vh] relative flex flex-col">
				<Header/>
				<slot />
				<Footer/>
			</div>
		</main>
	</body>
</html>