---
import MainLayout from "./main.layout.astro";
import Link from "@/components/Link.astro";
import { Icon } from "astro-icon";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
dayjs.extend(relativeTime);
interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    author: string;
    minutesRead: string;
    tags: string[];
  };
}
const { frontmatter } = Astro.props;
---

<MainLayout>
  <div class="p-4 space-y-4">
    <div class="pt-4 txet-lg">
      <button
        id="goback"
        class="flex items-center gap-4 border-b hover:border-purple-500 active:text-purple-500 active:border-transparent"
        onclick="
        history.back()
        "
      >
        <Icon
          name="tabler:chevron-left"
          size="18"
          class="group-hover:scale-125"
        />
         Back
      </button>
    </div>
    <div class="space-y-4 pb-8">
      <div class="text-3xl font-semibold text-purple-500 italic">
        {frontmatter.title}
      </div>
      <div class="flex items-center gap-4 text-slate-500">
        <span class="flex items-center gap-2 border-b hover:border-purple-500"
          ><Icon name="tabler:clock" size="18" />
          {frontmatter.pubDate.slice(0, 10)} # {
            dayjs(frontmatter.pubDate.slice(0, 10)).fromNow()
          }</span
        >
        <span class="flex items-center gap-2 border-b hover:border-purple-500"
          ><Icon name="tabler:user" size="18" /> Written by {
            frontmatter.author
          }</span
        >
        <span class="flex items-center gap-2 border-b hover:border-purple-500"
          ><Icon name="tabler:eye" size="18" /> You need {
            frontmatter.minutesRead
          }</span
        >
      </div>
      <div class="flex gap-4">
        {
          frontmatter.tags.map((tag) => (
            <span class="flex items-center gap-2 bg-slate-400 rounded py-1 px-2 text-sm hover:bg-purple-500 hover:text-white cursor-pointer">
              <Icon name="tabler:tag" size="18" />
              {tag}
            </span>
          ))
        }
      </div>
    </div>
    <article class="prose lg:prose-xl prose-slate max-w-none dark:prose-invert">
      <slot />
    </article>
  </div>
</MainLayout>
