---
import MainLayout from './main.layout.astro';
import Link from '@/components/Link.astro';
import {Icon} from 'astro-icon';
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
dayjs.extend(relativeTime);
interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    author: string;
    minutesRead: string;
    tags:string[];
  }
}
const { frontmatter } = Astro.props;
---
<MainLayout>
  <div class="p-4">
    <div class="space-y-4 mb-4 pb-8 border-b">
    <div class="text-5xl font-semibold">{frontmatter.title}</div>
    <div class="flex items-center gap-4 text-slate-500">
      <span class="flex items-center gap-2 border-b hover:border-purple-500"><Icon name="tabler:clock" size="18"/> {frontmatter.pubDate.slice(0,10)} # {dayjs(frontmatter.pubDate.slice(0,10)).fromNow()}</span>
      <span class="flex items-center gap-2 border-b hover:border-purple-500"><Icon name="tabler:user" size="18"/> Written by {frontmatter.author}</span>
      <span class="flex items-center gap-2 border-b hover:border-purple-500"><Icon name="tabler:eye" size="18"/> You need {frontmatter.minutesRead }</span>
    </div>
    <div class="flex gap-4 opacity-50">
      {
        frontmatter.tags.map(tag => <span class="border rounded px-2 text-sm">#{tag}</span>)
      }
    </div>
    </div>
    <article class="prose lg:prose-xl prose-slate max-w-none">
       <slot />
    </article>
    <div class="mt-4 border-t pt-4 txet-lg">
      <span id="goback" class="flex items-center gap-4 group">
      <Icon name="tabler:arrow-big-left" size="18" class="group-hover:scale-125"/>
      <Link href="">Back</Link>
    </span>
    </div>
  </div>
</MainLayout>
